.messages{
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.6rem;
    overflow: scroll;
    max-height: 498px;
}
.message-group {
    margin-bottom: 12px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.message-group.me {
    align-self: flex-end;
    text-align: right;
}

.message-group.other {
    align-self: flex-start;
    text-align: left;
}

.sender {
    font-size: 12px;
    color: gray;
    margin-bottom: 2px;
}

.message-bubble {
    background: #f1f1f1;
    padding: 8px 12px;
    border-radius: 14px;
    margin: 2px 0;
}

.message-group.me .message-bubble {
    background: #0084ff;
    color: white;
}
