.conversation__item{
    display: flex;
    align-items: center;
    border-top: 1px solid #a0aec0;
    border-bottom: 1px solid #a0aec0;
    padding: 10px;
}
.conversation__item:hover{
    cursor: pointer;
}
.conversation-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #53b130;
}
.conversation-name{

}
.conversation-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}
.conversation-name{
    font-size: 1.6rem;
    font-weight: 550;
}
.conversation-status{
    font-size: 1rem;
    margin-top: 10px;
}
